Importer les librairies utiles

In [2]:
import pandas as pd 
import numpy as np 
import seaborn as sb

Récupérer le fichier csv au travers d'un data frame

In [28]:
dataset = pd.DataFrame.df = pd.read_csv("crime-in-france.csv")
dataset.head()

,Index,Libellé index,2017_08,2017_07,2017_06,2017_05,2017_04,2017_03,2017_02,2017_01,...,2000_10,2000_09,2000_08,2000_07,2000_06,2000_05,2000_04,2000_03,2000_02,2000_01
0,1,Règlements de compte entre malfaireurs,8,9,8,8,2,14,15,10,...,8,8,6,5,12,5,2,9,5,11
1,2,Homicides pour voler et à l'occasion de vols,3,2,4,4,6,2,4,6,...,3,4,9,5,4,4,7,6,5,2
2,3,Homicides pour d'autres motifs,67,75,55,52,76,56,51,61,...,84,82,74,75,62,77,76,70,96,60
3,4,Tentatives d'homicides pour voler et à l'occas...,6,5,6,12,4,13,5,24,...,14,5,8,10,14,14,5,9,10,7
4,5,Tentatives homicides pour d'autres motifs,218,238,224,200,208,228,168,165,...,87,95,68,101,85,106,63,104,91,65

Sommes des crimes sur la période (ajout d'une colonne au df)

In [32]:
dataset["somme"] = dataset.iloc[: ,2: ].sum(axis=1)
dataset.head()

,Index,Libellé index,2017_08,2017_07,2017_06,2017_05,2017_04,2017_03,2017_02,2017_01,...,2000_09,2000_08,2000_07,2000_06,2000_05,2000_04,2000_03,2000_02,2000_01,somme
0,1,Règlements de compte entre malfaireurs,8,9,8,8,2,14,15,10,...,8,6,5,12,5,2,9,5,11,1574
1,2,Homicides pour voler et à l'occasion de vols,3,2,4,4,6,2,4,6,...,4,9,5,4,4,7,6,5,2,795
2,3,Homicides pour d'autres motifs,67,75,55,52,76,56,51,61,...,82,74,75,62,77,76,70,96,60,13854
3,4,Tentatives d'homicides pour voler et à l'occas...,6,5,6,12,4,13,5,24,...,5,8,10,14,14,5,9,10,7,1553
4,5,Tentatives homicides pour d'autres motifs,218,238,224,200,208,228,168,165,...,95,68,101,85,106,63,104,91,65,24245

Récupérer les 10 crimes les plus commis

In [34]:
dataset["somme"].sort_values(ascending=False).head(10)

36    6097728
42    6048140
41    3638904
67    3573429
26    3494742
6     3226331
90    3169083
34    3000744
37    2701697
66    2594324
Name: somme, dtype: int64